@media screen and (max-width: 620px) {

    #container{
        width: 100%;
        margin: auto;
    }
    .f64{
        font-size: 32px;
        color: #0F1B4C;
    }
    .f35{
    
        font-size: 17px;
        color: #0F1B4C;
    }
    .f18{
        font-size: 12px;
    }
    .f16{
        font-size: 12px;
    }
    .f14{
        font-size: 12px;
    }
    header{
        width:100%;
        background-color: #E6F0FF;
        align-items: center;
    }
    
    .headnav{
        width: 100%;
        margin:auto;
        display: block;
        position: relative;
        background-color: #E6F0FF;
        justify-content: center;
        margin-top: 0;
    }
    
    .ulheadnav{
        width: 100%;
        padding-top: 0;
        display: block;
        justify-content: none;
        
    }
    
    .ulheadnav2{
        width: 100%;
        display: block;
        justify-content: center;
        align-items: center;
    }
    .signup{
        padding: 10px 2rem;
        background-color: #0F1B4C;
        color: white;
        border-radius: 10px;
        margin-left: 15px;
    }
    
    .headerBanner{
        width: 100%;
        margin: auto;
        background-color: #E6F0FF;
        display: block;
        margin-top: -5rem;

    }
    .banner1{
        width: 50%;
        height: 100%;
        margin: auto;
    }   
    
    
    .Discover{
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 0;
    }
    .MoreAboutMe{
        padding: 10px 25px;
        background-color: #0F1B4C;
        color: white;
        border-radius: 12px;
        margin-top: 2rem;
    }
    .banner2{
        width: 100%;
        text-align: start;
        margin-top: 1rem;
    }
    .banner2 img{
        width: 100%;
    }
    section{
        width: 100%;
        margin: auto;
    }
    .Main1{
        width: 80%;
        height: auto;
        margin: 2rem auto;
        display: block;
    }
    .leftMain1{
        width: 50%;
    }
    .rightMain1{
        margin-left: auto;
    }
    
    .Main2{
        width: 100%;
        height: auto;
        margin: auto;
    }
    .Main2 ul{
        width: 100%;
        display: flex;
        justify-content: none;
        margin: auto;
        padding-inline-start: 0px;
    }
    .Main2>ul>img{
        width: 18%;
        height: 3rem;
    }
    .Main2>ul>img:hover{
        box-shadow: 7px 7px 13px #E6F0FF ;
    }
    .Main3{
        width: auto;
        text-align: center;
    }
    
    .Main3Items{
        display: flex;
        width: 100%;
        margin: 3rem auto;
        justify-content: space-between
        
    }
    
    .Main3 button{
        padding: 1rem 2rem;
        background-color: #0F1B4C;
        border-radius: 12px;
        color: white;
    }
    
    .Main4{
        display: flex;
        margin: 5rem 0;
    }
    .leftMain4{
    
    }
    .rightMain4{
        margin-left: auto;
        margin-top: 4rem;
    }
    .Main5{
        width: 100%;
        display: block;
        justify-content: space-between;
    }
    .Main5Item{
        width: 100%;
        margin: 0;
    }
    .Main5Item img{
        width: 100%;
    }
    .Main6{
        margin-top: 5rem;
        display: block;
    }
    .leftMain6{
        width: 100%;
    
    }
    .leftMain6 img{
        width: 100%;
        margin: auto;
    }
    .rightMain6{
        width: 100%;
    }
    .rightMain6 p{
        width: 50%;
        margin: auto;
        margin-top: 4rem;
    }
    
    .Main7{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .Main8{
        width: 100%;
        display: block;
        background-color: #0F1B4C;
        height: auto;
        border-radius: 30px;
        margin: 0;
    }
    .leftMain8{
        width: 80%;
        margin: 2rem auto;
        padding: 2rem auto;
    }
    .rightMain8{
        width: 100%;
    }
    .rightMain8 img{
        width: 100%;
        margin-top: 0;
        margin-bottom: -10px;
    }
    footer{
        margin-top: 6rem;
        width: 100%;
        margin: auto;
    }
    
    .leftF{
        width: 100%;
        display: block;
        justify-content: space-between;
    }
    
    .end{
        display: block;
    }
    .endtext{
        width: 100%; text-align: center; margin-left: 0; margin-top: 2rem;
    }
    .endimg{
        width: 30%; margin: 2rem 5rem;
    }
}